# PostgreSQL
DATABASE_URL=""

# JWT
JWT_SECRET="your-secret-key-change-in-production"

# RabbitMQ
RABBITMQ_URL="amqp://guest:guest@localhost:5672"

# Server
SERVER_PORT=4000
CLIENT_URL="http://localhost:5000"

# Client
NEXT_PUBLIC_API_URL="http://localhost:4000"
NEXT_PUBLIC_WS_URL="http://localhost:4000"
